body {
    font-family: Nunito, sans-serif;
    color: #1c1c1c;
}

h1,
h2,
h3 {    
    font-family: Asap, sans-serif;
    color: #000000;
}

.acesso {
    color: #FAA831;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    padding: 15px 10px;
    background-color: #373435;
    font-size: 15px;
    border-radius: 5px;
}

.acesso:hover{
    color: #373435;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
    padding: 15px 10px;
    background-color: #FAA831;
    font-size: 15px;
    border-radius: 5px;
    transition: 90ms;
}
.botao {
    color: #FAA831;
    text-decoration: none;
    padding: 10px 30px;
    background-color: #373435;
    font-size: .9em;
    border-radius: 15px;
    margin: 5%;
}

/* Navegação */
nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #Ffffff;
}

nav>img {
    padding: 5px;
    margin-left: 30px;
}

nav>a {
    text-decoration: none;
    color: #373435;
    font-weight: 800;
    font-size: 35px;
    font-family: Nunito, serif;
}

nav ul {
    font-size: 20px;
    display: flex;
    margin-left: auto;
    margin-right: 32px;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 10px;
    width: 100%;
}

nav ul li {
    text-align: center;
    width: 100%;
}

nav ul li a {
    display: inline-block;
    padding: 10px 3px;
    width: 100%;
    text-decoration: none;
    color: #373435;
    transition: background .4s;
}

nav ul li a:hover {
    background-color: #FAA831;
    padding: 10px;
}

/* Cabeçalho */
header {
    background-color: #FAA831;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../img/camera.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #373435;
    text-align: center;
    padding: 20px;

}

header h1 {
    color: #373435;
}

header p {
    margin-bottom: 2em;
    color:#373435;
}

#sobre {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 30px 10px 20px 20px;
    background-color: #FAA831;
    color: #373435;
    
}

#sobre h2 {
    color: #373435;
    margin-top: 2.5em;
}

#sobre p {
    margin-bottom: 2.5em;
    max-width: 1000px;
}

#sobre .botao {
    background-color: #373435;
    color: #FAA831;

}

#servicos {
    background-color: #Ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    /* margin-top: 30px; */
}

#servicos img {
    width: 80px;
    flex-direction: column;
}

#fotos {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    border: 0%;
}

#fotos h2 {
    margin-bottom: 2.5em;    
}

#fotos img {
    width: 100%;
    margin: auto;
}

/* contato */

#contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#contato h2 {
    color: #000000
}

/* rodapé (footer) */

footer {
    text-align: center;
    padding: 10px;
    background-color: #FAA831;
    color: #373435;
}

footer a {
    text-decoration: none;
    color: #373435;
}

@media screen and (min-width: 768px) {

    /* nav */
    nav {
        flex-direction: row;
        justify-content: space-around;
    }

    nav ul {
        flex-direction: row;
        width: 70%;
    }


    /* cabeçalho */

    header {
        height: 600px;
        height: 60vh;
        justify-content: center;
    }

    /*sobre*/
    #sobre {
        height: 250px;
        height: 30vh;
        justify-content: center;
        min-height: 250px;
    }

    /* serviços*/
    #servicos {
        flex-direction: row;
        flex-wrap: wrap;
        align-items: flex-start;
        max-width: 1000px;
        margin: 0 auto;
    }

    #servicos h2 {
        text-align: center;
        width: 100%;
    }

    #servicos div{
        flex-grow: 1;
        flex-basis: 150px;
        padding: 0 10px;
    }
    /* fotos*/
    #fotos {
        flex-direction: row;
        flex-wrap: wrap;
    }

    #fotos h2 {
        width: 100%;
        text-align: center;
    }

    #fotos img{
        width: 30%;
    }

    /* contato */
    #contato {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        max-width: 500px;
        margin: 0 auto;
    }

    #contato h2, #contato p {
        width: 100%;
    }

}