* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #FAA831;
}

/* INICIO MENU SUPERIOR  */
header {
  display: inline;
}

.center {
  display: flex;
  height: 60px;
}

.logo {
  width: 33.3%;
  height: 7.5vh;
}

.logo img {
  height: 7.5vh;
  width: auto;
  float: right;
  margin-top: 5px;
}

.nav-bar {
  width: 50%;
  height: 100%;
  float: right;
}

.nav-bar ul .header-topo {
  display: inline-flex;
  width: 22%;
  height: 8.5vh;
}

.nav-bar .list-topo{
  align-items: center;
  text-align: center;
  margin-top: 5px;
}

.menu-bar {
  width: 66%;
  height: 8vh;
  align-items: center;
}

.menu-bar i {
  width: 5%;
  margin: auto;
  align-items: center;
}

header ul li a {
  padding: 10%;
  text-decoration: none;
  color: #FAA831;
  float: right;
  width: 100%;
  padding: 15px;
}

header ul li a:hover {
  border: #262626;
  text-decoration: none;
  color: #000000;
  float: right;
  width: 100%;
  transition: 400ms;
}
/* Final Header */

/* MENU RESPONSIVO */
label[for="bt_menu"] {
  padding: 5px;
  background-color: #666666;
  border-radius: 10%;
  color: #262626;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  width: 50px;
  height: 50px;
}

#bt_menu {
  display: none;
}

label[for="bt_menu"] {
  display: none;
}
/* FIM MENU MOBILE */

/* TEXTO INICIO */
section {
  margin-top: 20px;
  margin-left: 110px;
  margin-right: 110px;
  position: relative;
  height: 30vh;
  justify-content: center;
}

h2 {
  text-align: center;
  padding: 2px;
}

.text-inicio {
  border-radius: 15px;
  text-align: justify;
  background-color: darkgray;
  -webkit-box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 4);
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

/* INICIO PAGINA MANUTENÇAO */

.section-manutencao{
  width: auto;
  text-align: center;
  height: 600px;
}

.div-manutencao {
  width: 100%;
}

.p-manutencao{
  width: 100%;
}

/* CAIXAS DE CALCULOS */

div.container-calculo {
  margin: 0 0;
  height: 13%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.caixaCalculo {
  width: 50%;
  height: 30vh;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 330px;
  margin: 10px 10px 2px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.caixaCalculo2 {
  width: 50%;
  height: 30vh;
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 330px;
  margin: 10px 10px 2px;
  padding: 25px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.text-interno-inicio {
  color: #000000;
  padding: 20px 40px 10px;
}

.texto-interno-calculo{
  color: #000000;
  padding: 10px 10px 10px;
  width: 100%;
}

#resPos {
  color: #FAA831;
  width: 100%;
  font-size: larger;
}

#resAnt {
  color: #FAA831;
  width: 100%;
  font-size: larger;
}



button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #666666;
  width: auto;
  border: 0;
  padding: 8px;
  border-radius: 12px;
  color: #FFFFFF;
  font-size: 10px;
  cursor: pointer;
}

button:hover {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  outline: 0;
  background: #FFFFFF;
  width: auto;
  border: 0;
  padding: 10px;
  border-radius: 12px;
  color: #666666;
  font-size: 10px;
  cursor: pointer;
  transition: 600ms;
  border-color: #666666;
}

input {
  font-family: "Roboto", sans-serif;
  outline: 0;
  background: #f2f2f2;
  border: 0;
  margin: 0 0 5px;
  padding: 2px;
  box-sizing: border-box;
  font-size: 14px;
}

/* FAQ PERGUNTAS E RESPOSTAS */






/* Footer Redes Sociais */

footer {
  display: grid;
  align-items: center;
  align-content: center;
  height: 150px;
}

.container-social {
  width: 100%;
  text-align: center;
  align-items: center;
}

.container-social ul li {
  display: inline-block;
}

ul li.rodape-list {
  list-style: none;
  margin-bottom: 0;
  text-decoration: none;
  align-items: center;
  position: relative;
}

ul li.rodape-list a {
  position: relative;
  width: 60px;
  height: 60px;
  display: block;
  text-align: center;
  margin: 2 2px;
  border-radius: 50%;
  padding: 6px;
  box-sizing: border-box;
  text-decoration: none;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.3);
  background: linear-gradient(0deg, #ddd, #fff);
  transition: .5s;
  text-decoration: none;
}

ul li.rodape-list a:hover {
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  text-decoration: none;
}

ul li.rodape-list a .fab {
  display: block;
  background: linear-gradient(0deg, #fff, #ddd);
  border-radius: 50%;
  line-height: calc(60px - 12px);
  font-size: 18px;
  color: #262626;
  transition: .5s;
}

ul li.rodape-list:nth-child(1) a:hover .fab {
  color: #3b5998;
}

ul li.rodape-list:nth-child(2) a:hover .fab {
  color: #00aced;
}

ul li.rodape-list:nth-child(3) a:hover .fab {
  color: #0A66C2;
}

ul li.rodape-list:nth-child(4) a:hover .fab {
  color: #000000;
}

ul li.rodape-list:nth-child(5) a:hover .fab {
  color: #e4405f;
}

div .nome-dev{
  width: 100%;
}

.nome-dev h4{
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding-top: 2%;
  text-align: center;
}

/* MEDIAS QUERIES  */

@media screen and (max-width: 800px) {
  
  header .center {
    display: block;
    width: 100%;
    height: auto;
  }

  .center {
    display: block;
    width: 100%;
    margin-left: -800px;
    transition: all 0.4s;
    align-items: center;
  }
  
  
  .center .nav-bar {
    display: block;
    width: 100%;
  }
  
  .center .list-topo {
    align-items: center;
    width: 100%;
    height: 178px;
  }
  
  
  .nav-bar .list-topo .header-topo{
    position: relative;
    display: block;
    width: 100%;
    text-align: center;
  }
  
  .header-topo a{
    background-color: #666666;
  }
  
  .center .logo {
    display: none;
  }

  .logo {
    background-color: #666666;
  }

  label[for="bt_menu"] {
    display: block;
  }

  #bt_menu:checked~.center {
    margin-left: 0px;
  }

  section {
    display: inline;
    align-items: center;
    width: 100%;
  }

  .text-inicio {
    align-items: center;
    text-align: center;
    margin-left: 10px;
    margin-right: 10px;
  }

  .container-calculo{
    display: block;
    flex-wrap: wrap;
  }

  div.caixaCalculo,
  .caixaCalculo2 {
    display: inline-block;
    align-items: center;
    margin: 5 5 5;
    width: 100%;
    height: auto;
  }

  footer {
    margin-top: 30px;
    width: 100%;
    align-content: center;
    align-items: center;
  }

  .container-social ul {
    width: 50%;
    display: inline-block;
  }

}